.toolbar {
    background-color: #e91e63;
    color: #ffffff;
    
    /* margin-bottom: 20px; */
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
}

mat-icon { 
    font-size: 24px;
}
  
.title-logo {
    font-family: Lato;
    font-size: 24px;
}

.menu {
    font-family: Lato;
    margin-left: 20px;
    margin-top: 4px;
    text-decoration-line: none;
}

.menu mat-icon {
    vertical-align: top;
    padding-top: 5px;
    margin-right: 4px;
}

.spacer {
    flex: 1 1 auto;
}
