<div fxLayoutWrap>
  <div fxFlex.gt-lg="12" fxFlex.gt-md="20" fxFlex.gt-sm="33" fxFlex="50"
       class="cursor-pointer" *ngFor="let overview of overviews" [routerLink]="['/idol', overview.$key]">
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{overview.name}}</mat-card-title>
        <mat-card-subtitle>{{overview.kana}}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="http://125.6.169.35/idolmaster/image_sp/card/l/{{overview.latest_hash}}.jpg" alt="{{overview.name}}'s latest card img.'">
    </mat-card>
  </div>
</div>

<!-- <div fxLayoutWrap>
  <mat-grid-list cols="3" owHeight="1:1">
    <mat-grid-tile class="cursor-pointer" *ngFor="let overview of overviews" [routerLink]="['/idol', overview.$key]">
      <mat-card style="width:99%;height:99%;">
        <img mat-card-image src="http://125.6.169.35/idolmaster/image_sp/card/l/{{overview.latest_hash}}.jpg" alt="{{overview.name}}'s latest card img.'">
      </mat-card>
      <mat-grid-tile-footer style="margin-bottom:48px;">
        <div class="name">{{overview.name}}</div>
      </mat-grid-tile-footer>
      <mat-grid-tile-footer>
        <div class="kana">{{overview.kana}}</div>
      </mat-grid-tile-footer>
    </mat-grid-tile>
  </mat-grid-list>
</div> -->