<div class="grid grid-pad">
  <md-grid-list cols="2" rowHeight="1:1">
    <md-grid-tile class="cursor-pointer" *ngFor="let overview of overviews" [routerLink]="['/idol', overview.$key]">
      <md-card style="width:99%;height:99%;">
        <img md-card-image src="http://125.6.169.35/idolmaster/image_sp/card/l/{{overview.latest_hash}}.jpg" alt="{{overview.name}}'s latest card img.'">
      </md-card>
      <md-grid-tile-footer style="margin-bottom:48px;">
        <div class="name">{{overview.name}}</div>
      </md-grid-tile-footer>
      <md-grid-tile-footer>
        <div class="kana">{{overview.kana}}</div>
      </md-grid-tile-footer>
    </md-grid-tile>
  </md-grid-list>
</div>