.grid .model {
    color: #888;
}

md-card.cute {
    background: #FCE4EC;
}

span.cute {
    color: #E91E63;
}

md-card.cool {
    background: #E8EAF6;
}

span.cool {
    color: #3F51B5;
}

md-card.passion {
    background: #FFF3E0;
}

span.passion {
    color: #FF9800;
}

.name {
    height: 100%;
    padding-top: 18px;
    font-size: 24px;
}

.kana {
    height: 100%;
    padding-top: 2px;
    font-size: 14px;
}

.card {
    cursor: pointer;
}
