mat-card {
    margin-left: 1px;
    margin-right: 1px;
}

mat-grid-tile-footer {
    margin-left: 1px;
    margin-right: 1px;
}

.name {
    height: 100%;
    padding-top: 18px;
    font-size: 24px;
}

.kana {
    height: 100%;
    padding-top: 2px;
    font-size: 14px;
}

.cursor-pointer {
    cursor: pointer;
}
