<div fxLayoutWrap>
  <div fxFlex.gt-md="24" fxFlex.gt-sm="32" fxFlex="49" class="cursor-pointer" *ngFor="let overview of overviews" [routerLink]="['/idol', overview.$key]">
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{overview.name}}</mat-card-title>
        <mat-card-subtitle>{{overview.kana}}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="http://125.6.169.35/idolmaster/image_sp/card/l/{{overview.latest_hash}}.jpg" alt="{{overview.name}}'s latest card img.'">
    </mat-card>
  </div>
</div>