.title {
    margin-bottom: 24px;
}

.units mat-chip {
    margin-right: 4px;
}

.back-nav {
    margin-top: 10px;
    margin-bottom: 20px;
}

.link-button {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 80px;
}

.card {
    background-color: #f0f1f4;
    color: #6f6f6f;
}

.list-content {
    cursor: pointer;
}
