<section class="width-min">
  <div class="back-nav">
    <a mat-button class="link-button" routerLink="">
      <mat-icon mat-list-icon>chevron_left</mat-icon>
    </a>
  </div>
  <div *ngIf="doShow()">
    <mat-card class="card">
      <mat-card-header>
        <mat-card-title>
          <h3><span>{{unit?.name}}</span></h3>
        </mat-card-title>
        <mat-card-subtitle><span>{{unit?.kana}}</span></mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div style="margin-bottom: 16px;">
          <mat-list dense class="member">
            <p matSubheader>メンバー</p>
            <mat-list-item *ngFor="let person of unit?.member" class="list-content" [routerLink]="['/idol', person]">
              <mat-icon mat-list-icon>favorite</mat-icon>
              <p matLine class="main-color" style="font-size: 18px;">
                {{person}}
              </p>
            </mat-list-item>
          </mat-list>
        </div>
        <!-- <mat-divider></mat-divider>
        <div>
          <mat-list dense class="songs">
            <p matSubheader>楽曲</p>
            <mat-list-item *ngFor="let song of unit?.songs" class="list-content">
              <mat-icon mat-list-icon>audiotrack</mat-icon>
              <h2 matLine>{{song}}</h2>
            </mat-list-item>
          </mat-list>
        </div> -->
      </mat-card-content>
    </mat-card>
  </div>
</section>