<!-- <p>
  {{diagnostic}}
</p> -->
<div class="search-section">
  <mat-grid-list cols="4" rowHeight="1.5:1">
    <mat-grid-tile colspan="2">
      <div style="width:90%;">
        <mat-form-field style="width:100%;">
          <input matInput placeholder=" アイドルを検索.." [matAutocomplete]="auto" [formControl]="dereSearchCtrl" [(ngModel)]="searchInput"  matTooltip="ひらがな入力でサジェストを表示します。">
        </mat-form-field>
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
          <mat-option *ngFor="let overview of filteredOverviews | async" [value]="overview">
            {{overview.name}}
          </mat-option>
        </mat-autocomplete>
      </div>
    </mat-grid-tile>
    <mat-grid-tile colspan="1">
      <button mat-raised-button (click)="onClear()">クリア</button>
    </mat-grid-tile>
    <mat-grid-tile colspan="1">
      <button mat-raised-button class="main-background white-text" (click)="onSearch()">表示</button>
    </mat-grid-tile>
  </mat-grid-list>
</div>