<h3 class="title">ユニット詳細</h3>
<md-card>
  <md-card-header>
    <md-card-title>
      <h3><span class="{{unit?.type}}">{{unit?.name}}</span></h3>
    </md-card-title>
    <md-card-subtitle><span class="{{unit?.type}}">{{unit?.kana}}</span></md-card-subtitle>
  </md-card-header>
  <md-card-content>
    <div>
      <md-list dense class="member">
        <p md-subheader>メンバー</p>
        <md-list-item *ngFor="let person of unit?.members" class="list-content" [routerLink]="['/idol', person]">
          <ng-template [ngIf]="person == unit?.tl">
            <h6>{{person}} <small class="main-color">リーダー</small></h6>
          </ng-template>
          <ng-template [ngIf]="person != unit?.tl">
            <h6>{{person}}</h6>
          </ng-template>
        </md-list-item>
      </md-list>
    </div>
    <md-divider></md-divider>
    <div>
      <h6>
        <md-list dense class="songs">
          <p md-subheader>楽曲</p>
          <md-list-item *ngFor="let song of unit?.songs" class="list-content">
            <md-icon md-list-icon>audiotrack</md-icon>
            <h2 md-line>{{song}}</h2>
          </md-list-item>
        </md-list>
      </h6>
    </div>
  </md-card-content>
</md-card>