<section class="sidenav-content">
  <div class="description">
    <p style="margin-top: 10px;">
      まだあまり意味のないサイドナビゲーションです。
    </p>
  </div>
  <div class="management">
    <h3>Management</h3>
    <md-list>
      <md-list-item><a md-button class="link-button" routerLink="/idol">アイドル一覧</a></md-list-item>
      <md-list-item><a md-button class="link-button" routerLink="/unit">ユニット一覧</a></md-list-item>
      <md-list-item><a md-button class="link-button" routerLink="/trend">トレンド</a></md-list-item>
    </md-list>
  </div>
  <div class="achievements">
    <h3>Achievements</h3>
    <md-list>
      <md-list-item>content 1</md-list-item>
      <md-list-item>content 2</md-list-item>
      <md-list-item>content 3</md-list-item>
    </md-list>
  </div>
  <div class="login">
    <h3>Login</h3>
    <md-list>
      <md-list-item><a md-button class="link-button" routerLink="/oauth">OAuth</a></md-list-item>
    </md-list>
  </div>
</section>