<section class="sidenav-content">
  <div class="description">
    <md-grid-list cols="1" rowHeight="8:1">
      <md-grid-tile>
        <i class="fa fa-github" aria-hidden="true"></i>
        <h3 class="deredorm">
          <a href="https://github.com/ne-peer/deredorm" target="_blank">Deredorm</a>
        </h3>
      </md-grid-tile>
    </md-grid-list>
  </div>
  <div class="login">
    <h3>Login</h3>
    <md-list>
      <md-list-item><a md-button class="link-button" routerLink="/oauth">OAuth (for developer*)</a></md-list-item>
    </md-list>
  </div>
</section>