<h3 class="title">Idols overview</h3>
<div class="grid grid-pad">
  <div *ngFor="let overview of overviews" [routerLink]="['/idol', overview.$key]" class="col-1-4">
    <md-card>
      <md-card-header>
        <md-card-title>
          <h4><span class="{{overview.type}}">{{overview.name}}</span></h4>
        </md-card-title>
        <md-card-subtitle>
          <span class="{{overview.type}}">{{overview.kana}}</span>
        </md-card-subtitle>
      </md-card-header>
    </md-card>
  </div>
</div>