.grid .model {
    color: #888;
}

md-card.cute {
    background: #FCE4EC;
}

span.cute {
    color: #E91E63;
}

md-card.cool {
    background: #E8EAF6;
}

span.cool {
    color: #3F51B5;
}

md-card.passion {
    background: #FFF3E0;
}

span.passion {
    color: #FF9800;
}

.units md-chip {
    margin-right: 4px;
}

md-chip {
    cursor: pointer;
}
