<h3>Belong to the idol lists.</h3>
<div class="action-area" align="right">
  <a md-mini-fab routerLink="/manage/add" color="primary">
    <md-icon>add</md-icon>
  </a>
</div>
<div class="grid grid-pad">
  <div *ngFor="let idol of idols" [routerLink]="['/detail', idol.$key]" class="col-1-4">
    <md-card>
      <div>
        <h4>{{idol.name}}</h4>
        <h6>{{idol.kama}}</h6>
      </div>
      <div>
        <h6>
          <span *ngFor="let model of idol.models" class="models">
            {{model}}
            </span>
        </h6>
      </div>
      <div>
        <h6>
          <span *ngFor="let group of idol.groups" class="group">
            {{group}}
          </span>
        </h6>
      </div>
      <div>
        <span>{{idol.type}}</span>
      </div>
    </md-card>
  </div>
</div>