<div>
  <h3>ユニット登録</h3>
  <form (ngSubmit)="onSubmit()" #dereForm="ngForm">
    <div class="form-group">
      <md-input-container>
        <input type="text" mdInput placeholder="識別子名" id="id" [(ngModel)]="unit.id" name="id" required>
      </md-input-container>
    </div>
    <div class="form-group">
      <md-input-container>
        <input type="text" mdInput placeholder="ユニット名" id="name" [(ngModel)]="unit.name" name="name" class="long-text" required>
      </md-input-container>
    </div>
    <div class="form-group">
      <md-input-container>
        <input type="text" mdInput placeholder="かな" id="kana" [(ngModel)]="unit.kana" name="kana" class="long-text" required>
      </md-input-container>
    </div>
    <div class="form-group">
      <md-input-container>
        <input type="text" mdInput placeholder="メンバー - 半角カンマ(,)区切り" id="members" [(ngModel)]="unit.members" name="members" class="long-text" required>
      </md-input-container>
    </div>
    <div class="form-group">
      <md-input-container>
        <input type="text" mdInput placeholder="リーダー" id="tl" [(ngModel)]="unit.tl" name="tl">
      </md-input-container>
    </div>
    <div class="form-group">
      <md-input-container>
        <input type="text" mdInput placeholder="代表曲 - 半角カンマ(,)区切り" id="songs" [(ngModel)]="unit.songs" name="songs" class="long-text" required>
      </md-input-container>
    </div>
    <div class="form-group">
      <md-select id="type" placeholder="Type" [(ngModel)]="unit.type" name="type" class="type">
        <md-option *ngFor="let type of types" [value]="type">{{type}}</md-option>
      </md-select>
    </div>
    <button type="button" class="register" md-raised-button (click)="addUdol(); dereForm.reset();">登録</button>
  </form>
</div>
<p>
  {{diagnostic}}
</p>