<md-sidenav-container class="container-flux">
  <md-sidenav #sidenav class="sidenav">
    <section>
      <app-side-navbar></app-side-navbar>
    </section>
  </md-sidenav>
  <div>
    <section class="header">
      <nav class="navbar">
        <md-grid-list cols="8" rowHeight="50px">
          <md-grid-tile colspan="1">
            <button md-button class="menu" (click)="sidenav.open()"><md-icon>list</md-icon></button>
          </md-grid-tile>
          <md-grid-tile colspan="7">
            <div class="title-section">
              <a class="navbar-brand title" routerLink="/">
                <h2><i class="material-icons">local_library</i> {{title}} <span class="subtitle">{{subTitle}}</span></h2>
              </a>
            </div>
          </md-grid-tile>
        </md-grid-list>
      </nav>
    </section>
    <section class="main-content">
      <div *ngIf="atUnitList() === false;">
        <div>
          <app-dere-autocomplete></app-dere-autocomplete>
        </div>
      </div>
      <div *ngIf="atUnitList() === true;">
        <div>
          <app-unit-autocomplete></app-unit-autocomplete>
        </div>
      </div>
      <div>
        <router-outlet></router-outlet>
      </div>
    </section>
  </div>
</md-sidenav-container>