.container-flux {
  min-height: 1100px;
}

.sidenav-content {
  height: 100%;
}

.sidenav {
  padding: 20px;
  width: 300px;
}

section.header {
  margin-bottom: 20px;
  -webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0 8px 6px -6px #999;
}

section.main-content {
  max-width: 600px;
  /* border: 1px solid #ccc;   */
  margin: 0 auto;
  padding: 10px;
}

.link-button {
    text-decoration: none;
}

md-sidenav {
  background-color: #eee;
}

button.menu {
  background-color:#fff;
  color: #333;
}

md-icon { 
  font-size: 24px;
}

nav.navbar {
  background: #e91e63;
}

.title-section {
  padding-top: 5px;
}

a.title {
  font-family: Helvetica;
  color: #fff;
}

span.subtitle {
  font-size: 20px;
}

.search-area {
  margin-top: 20px;
  margin-bottom: 10px;
}