.container-flux {
  min-height: 1100px;
}

.sidenav-content {
  height: 100%;
}

.sidenav {
  padding: 20px;
  width: 300px;
}

section.main-content {
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 15px;
}

section.footer {
  margin-top: 80px;
  height: 340px;
}

section.footer .footer-icon {
  width: 32px;
  margin: 0 auto;
  padding-top: 46px;
  color: #ffffff;
}

section.footer .receive {
  padding: 22px;
  color: #e7e9ed;
  font-size: 8px;
  text-align: center;
}

mat-sidenav {
  background-color: #eee;
}

button.menu {
  background-color: rgb(0,0,0,0);
  color: #fff;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 0.3em;	
}

.search-area {
  margin-top: 20px;
  margin-bottom: 10px;
}
