.container-flux {
  height: 1100px;
}

.sidenav-content {
  height: 100%;
  padding: 20px;
}

.sidenav {
  padding: 20px;
  width: 300px;
}

section.header {
  background-color: #eee;
  padding: 15px;
  margin-bottom: 20px;
}

section.main-content {
  width: 600px;
  border: 1px solid #ccc;  
  margin: 0 auto;
  padding: 30px;
}