<div class="mat-typography">
  <mat-sidenav-container class="container-flux">
    <mat-sidenav #sidenav class="sidenav">
      <app-side-navbar></app-side-navbar>
    </mat-sidenav>
    <div>
      <section class="header">

        <div class="mat-toolbar" color="primary">
          <button mat-button class="menu" (click)="sidenav.open()" style="float:left;">
            <mat-icon>menu</mat-icon>
          </button>
          <div>
            <i class="material-icons" style="float:left;">local_library</i>
          </div>
          <div style="float:left;">
            <h2 class="mat-display-1">{{title}}
              <span class="subtitle">{{subTitle}}</span>
            </h2>
          </div>
          <div style="clear:both;"></div>
        </div>

      </section>
      <section class="main-content">
        <router-outlet></router-outlet>
      </section>
    </div>
  </mat-sidenav-container>
</div>