<div>
  <p>
    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque
    penatibus et magnis dis parturient montes, nascetur ridiculus mus.
  </p>
</div>
<div class="management">
  <h3>Management</h3>
  <md-list>
    <md-list-item><a md-button class="link-button" routerLink="/">Return Top</a></md-list-item>
    <md-list-item><a md-button class="link-button" routerLink="/manage/add">New Dere!</a></md-list-item>
    <md-list-item><a md-button class="link-button" routerLink="#">Edit</a></md-list-item>
    <md-list-item><a md-button class="link-button" routerLink="#">View</a></md-list-item>
  </md-list>
</div>
<div class="achievements">
  <h3>Achievements</h3>
  <div>
    ここに実績
  </div>
</div>