<div>
  <p>
    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque
    penatibus et magnis dis parturient montes, nascetur ridiculus mus.
  </p>
</div>
<div class="management">
  <h3>Management</h3>
  <md-list>
    <md-list-item><a class="btn btn-primary" href="/manage/add" role="button">New dere!</a></md-list-item>
    <md-list-item><button md-button>Edit</button></md-list-item>
    <md-list-item><button md-button>View</button></md-list-item>
  </md-list>
</div>
<div class="achievements">
  <h3>Achievements</h3>
  <div>
    ここに実績
  </div>
</div>