<section class="sidenav-content">
  <div class="description">
    <p style="margin-top: 10px;">
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque
      penatibus et magnis dis parturient montes, nascetur ridiculus mus.
    </p>
  </div>
  <div class="management">
    <h3>Management</h3>
    <md-list>
      <md-list-item><a md-button class="link-button" routerLink="/idol">Idols</a></md-list-item>
      <md-list-item><a md-button class="link-button" routerLink="/manage/add">Add Idol</a></md-list-item>
      <md-list-item><a md-button class="link-button" routerLink="#">Management</a></md-list-item>
    </md-list>
  </div>
  <div class="login">
    <h3>Login</h3>
    <md-list>
      <md-list-item><a md-button class="link-button" routerLink="/oauth">OAuth</a></md-list-item>
    </md-list>
  </div>
  <div class="achievements">
    <h3>Achievements</h3>
    <md-list>
      <md-list-item>content 1</md-list-item>
      <md-list-item>content 2</md-list-item>
      <md-list-item>content 3</md-list-item>
    </md-list>
  </div>
</section>