<div class="grid grid-pad">
  <md-grid-list cols="2" rowHeight="210px;">
    <md-grid-tile *ngFor="let unit of units" [routerLink]="['/unit', unit.id]">
      <md-card style="width:98%;height:98%;">
        <md-card-header>
          {{unit?.name}}
        </md-card-header>
        <md-card-content>
          <md-list dense>
            <div *ngFor="let person of unit?.member; let i = index;" [routerLink]="['/idol', person]">
              <!-- memberが5名を超える場合は省略する -->
              <div *ngIf="isShowMember(i); then showBlock;"></div>
              <ng-template #showBlock>
                <span class="main-color list-elem">{{person}}</span>
              </ng-template>
              <span *ngIf="i == 6;" class="list-elem">
                and more..
              </span>
            </div>
          </md-list>
        </md-card-content>
      </md-card>
    </md-grid-tile>
  </md-grid-list>
</div>