<div class="unit-list">
  <mat-accordion>
    <mat-expansion-panel *ngFor="let unit of units" hideToggle="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{unit?.name}}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-list>
        <mat-list-item *ngFor="let person of unit?.member">
          <span class="main-color list-elem" [routerLink]="['/idol', person]">{{person}}</span>
        </mat-list-item>
      </mat-list>
      <mat-action-row>
        <button mat-button [routerLink]="['/unit', unit.id]">ユニット詳細へ</button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>
</div>