@import '~uikit/dist/css/uikit.css';
@import '~uikit/dist/css/uikit.min.css';

.unit-list {
    max-width: 980px;
    margin: 0 auto;
}

.list-elem {
    margin-left: 30px;
    font-size: 16px;
    cursor: pointer;
}

.to-detail-link {
    font-size: 10px;
    text-align: right;
    padding-right: 40px;
    cursor: pointer;
}

.unit-name {
    font-size: 16px;
    font-weight: bold;
}

.progress {
    width: 100px;
    margin: 0 auto;
    background-color: rgba(255,255,255,0);
    padding-top: 40px;
    padding-bottom: 40px;
}
