<div>
  <app-unit-autocomplete></app-unit-autocomplete>
</div>
<div *ngIf="units === undefined;" class="progress">
  <mat-spinner></mat-spinner>
</div>
<div class="unit-list">
  <div *ngFor="let unit of units">

    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <p class="uk-text-large" style="color:#555">{{ unit.name }}</p>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="uk-position-relative uk-visible-toggle uk-light" uk-slider>
          <ul class="uk-slider-items uk-child-width-1-4 uk-child-width-1-6@m">
            <li *ngFor="let person of unit?.member" class="pointer" style="max-height:42vh" [routerLink]="['/idol', person.name]">
              <img lazyLoad="https://truecolor.kirara.ca/card/{{ person.lc }}.png" defaultImage="assets/cg-gray-600.jpg">
            </li>
          </ul>
          <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
          <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>
        </div>
      </mat-card-content>
    </mat-card>

  </div>
</div>
