mat-card.cute {
    background: #FCE4EC;
}

span.cute {
    color: #E91E63;
}

mat-card.cool {
    background: #E8EAF6;
}

span.cool {
    color: #3F51B5;
}

mat-card.passion {
    background: #FFF3E0;
}

span.passion {
    color: #FF9800;
}

.anchor-text {
    font-size: 8px;
}

mat-grid-tile div {
    width: 65%;
}

.back-nav {
    margin-top: 10px;
    margin-bottom: 20px;
}

.link-button {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 80px;
}
