<section class="width-min">
  <div class="back-nav">
    <a mat-button class="link-button" routerLink="">
      <mat-icon mat-list-icon>chevron_left</mat-icon>
    </a>
  </div>
  <div class="grid grid-pad">
    <!-- <div>
    Api Response: {{diagnostic}}
  </div> -->
    <div *ngIf="idol?.aliases === null;">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
    <div *ngIf="doShow();">
      <div>
        <mat-card [style.background-color]="getCharExtraStyle().bgcolor">
          <mat-card-header>
            <mat-card-title>
              <h3>
                <span [style.color]="getCharExtraStyle().color">{{overview?.name}}</span>
              </h3>
            </mat-card-title>
            <mat-card-subtitle>
              <span>{{overview?.kana}}</span>
            </mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <div>
              <mat-list dense class="models">
                <p matSubheader>ポジション</p>
                <mat-list-item class="list-content">
                  <mat-icon mat-list-icon>star_harf</mat-icon>
                  <h2 matLine>
                    {{imasdb.char?.getClassExtraInfo().dispName}}
                  </h2>
                </mat-list-item>
              </mat-list>
            </div>
            <div>
              <mat-list dense class="models profile">
                <p matSubheader>プロフィール</p>
                <mat-list-item class="list-content">
                  <div fxLayout="row">
                    <mat-icon mat-list-icon>equalizer</mat-icon>
                    <p fxFlex="30" class="prop">年齢</p>
                    <p fxFlex="70" class="value">{{imasdb.prof?.age}} 歳</p>
                  </div>
                </mat-list-item>
                <mat-list-item class="list-content">
                  <div fxLayout="row">
                    <mat-icon mat-list-icon>equalizer</mat-icon>
                    <p fxFlex="30" class="prop">身長</p>
                    <p fxFlex="70" class="value">{{imasdb.prof?.height}} cm</p>
                  </div>
                </mat-list-item>
                <mat-list-item class="list-content">
                  <div fxLayout="row">
                    <mat-icon mat-list-icon>equalizer</mat-icon>
                    <p fxFlex="30" class="prop">体重</p>
                    <p fxFlex="70" class="value">{{imasdb.prof?.weight}} kg</p>
                  </div>
                </mat-list-item>
                <mat-list-item class="list-content">
                  <div fxLayout="row">
                    <mat-icon mat-list-icon>accessibility</mat-icon>
                    <p fxFlex="30" class="prop">スリーサイズ</p>
                    <p fxFlex="70" class="value">{{imasdb.prof?.bust}} / {{imasdb.prof?.waist}} / {{imasdb.prof?.hip}}</p>
                  </div>
                </mat-list-item>
                <mat-list-item class="list-content">
                  <div fxLayout="row">
                    <mat-icon mat-list-icon>colorize</mat-icon>
                    <p fxFlex="30" class="prop">血液型</p>
                    <p fxFlex="70" class="value">{{imasdb.prof?.bloodType}}</p>
                  </div>
                </mat-list-item>
                <mat-list-item class="list-content">
                  <div fxLayout="row">
                    <mat-icon mat-list-icon>cake</mat-icon>
                    <p fxFlex="30" class="prop">誕生日</p>
                    <p fxFlex="470" class="value">{{imasdb.char?.birthMonth}}月 {{imasdb.char?.birthDay}}日</p>
                  </div>
                </mat-list-item>
                <mat-list-item class="list-content">
                  <div fxLayout="row" style="align-items:center;">
                    <mat-icon mat-list-icon style="padding-bottom:18px;">directions_bike</mat-icon>
                    <p fxFlex="30" class="prop">趣味</p>
                    <p fxFlex="70" class="value">{{imasdb.prof?.hobby}}</p>
                  </div>
                </mat-list-item>
              </mat-list>
            </div>
            <div>
              <mat-list dense class="models">
                <p matSubheader>CV (キャラクターボイス)</p>
                <mat-list-item class="list-content">
                  <mat-icon mat-list-icon>person_pin</mat-icon>
                  <h2 matLine>
                    <ng-template [ngIf]="imasdb.char?.cv == ''">
                      -
                    </ng-template>
                    <ng-template [ngIf]="imasdb.char?.cv != ''">
                      <a href="https://ja.wikipedia.org/wiki/{{imasdb.char?.cv}}">{{imasdb.char?.cv}}</a>
                    </ng-template>
                  </h2>
                </mat-list-item>
              </mat-list>
            </div>
            <div>
            </div>
            <div class="chips-section">
              <mat-list dense class="models">
                <p matSubheader>所属ユニット</p>
                <div *ngIf="isExistUnit(idol); then thenBlock; else elseBlock;"></div>
                <ng-template #elseBlock>
                  <mat-list-item class="list-content">
                    <mat-icon mat-list-icon>group</mat-icon>
                    <h2 matLine>なし</h2>
                  </mat-list-item>
                </ng-template>
                <ng-template #thenBlock>
                  <mat-list-item *ngFor="let unit of idol?.units" class="list-content pointer">
                    <mat-icon mat-list-icon>group</mat-icon>
                    <h2 matLine [routerLink]="['/unit', unit.id]">
                      {{ unit.name }}
                    </h2>
                  </mat-list-item>
                </ng-template>
              </mat-list>
            </div>
            <div>
              <mat-list dense class="models">
                <p matSubheader>シリーズ</p>
                <mat-list-item class="list-content">
                  <mat-icon mat-list-icon>live_tv</mat-icon>
                  <h2 matLine>
                    {{imasdb.char?.originMedia}}
                  </h2>
                </mat-list-item>
              </mat-list>
            </div>

            <mat-divider style="margin-top:16px;"></mat-divider>
            <div>
              <mat-list dense class="models">
                <p matSubheader>カードモデル</p>
              </mat-list>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    すべてのリスト
                  </mat-panel-title>
                  <mat-panel-description style="font-size:12px;margin-top:2px;">
                    リンクでジャンプできます
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <mat-list dense class="models">
                  <mat-list-item *ngFor="let alias of idol?.aliases" class="list-content">
                    <mat-icon mat-list-icon>local_offer</mat-icon>
                    <h2 matLine>
                      {{alias.alias_name === undefined ? "ノーマル" : alias.alias_name}}
                      <span class="anchor-text main-color" (click)="goAnchor(alias.id)">#{{alias.id}}</span>
                    </h2>
                  </mat-list-item>
                  <div style="margin-bottom:16px;"></div>
                </mat-list>
              </mat-expansion-panel>
            </div>
          </mat-card-content>
        </mat-card>

        <mat-card *ngFor="let card of sldbCard?.cards">
          <mat-card-header>
            <mat-card-title>
              <h4>{{card.title}}</h4>
            </mat-card-title>
          </mat-card-header>
          <img mat-card-image src="https://hoshimoriuta.kirara.ca/spread/{{card.id}}.png">
          <img mat-card-image src="https://hoshimoriuta.kirara.ca/spread/{{card.evolutionId}}.png">
          <mat-card-content>
            <!-- content -->
          </mat-card-content>
        </mat-card>

        <mat-card *ngFor="let alias of idol?.aliases" id="{{alias.id}}">
          <mat-card-header>
            <mat-card-title>
              <h4>
                <span>{{alias.alias_name === undefined ? "ノーマル" : alias.alias_name}}</span>
              </h4>
            </mat-card-title>
            <mat-card-subtitle>
              <span>
                <a href="http://imas.cg.db.n-hokke.com/cards/{{alias.id}}">http://imas.cg.db.n-hokke.com/cards/{{alias.id}}</a>
              </span>
            </mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="http://125.6.169.35/idolmaster/image_sp/card/l/{{alias.hash}}.jpg">
          <mat-card-content>
            <div>
              <!-- contents -->
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</section>