<section class="width-min">
  <div class="back-nav">
    <a mat-button class="link-button" routerLink="">
      <mat-icon mat-list-icon>chevron_left</mat-icon>
    </a>
  </div>
  <div class="grid grid-pad">
    <!-- <div>
    <h2>Api Response: </h2>{{diagnostic}}
  </div> -->
    <div *ngIf="idol?.aliases === null;">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
    <div *ngIf="doShow();">
      <div>
        <mat-card [style.background-color]="getCharExtraStyle().bgcolor">
          <mat-card-header>
            <mat-card-title>
              <h3><span [style.color]="getCharExtraStyle().color">{{overview?.name}}</span></h3>
            </mat-card-title>
            <mat-card-subtitle><span>{{overview?.kana}}</span></mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <div>
              <mat-list dense class="models">
                <p matSubheader>ポジション</p>
                <mat-list-item class="list-content">
                  <mat-icon mat-list-icon>star_harf</mat-icon>
                  <h2 matLine>
                    {{imasdb.char?.getClassExtraInfo().dispName}}
                  </h2>
                </mat-list-item>
              </mat-list>
            </div>
            <div>
              <mat-list dense class="models">
                <p matSubheader>プロフィール</p>
                <mat-grid-list cols="4" rowHeight="2:1">
                  <mat-grid-tile>
                    <div>年齢</div>
                  </mat-grid-tile>
                  <mat-grid-tile [colspan]="3">
                    <div>{{imasdb.prof?.age}} 歳</div>
                  </mat-grid-tile>
                  <mat-grid-tile>
                    <div>身長</div>
                  </mat-grid-tile>
                  <mat-grid-tile [colspan]="3">
                    <div>{{imasdb.prof?.height}} cm</div>
                  </mat-grid-tile>
                  <mat-grid-tile>
                    <div>体重</div>
                  </mat-grid-tile>
                  <mat-grid-tile [colspan]="3">
                    <div>{{imasdb.prof?.weight}} kg</div>
                  </mat-grid-tile>
                  <mat-grid-tile>
                    <div>スリーサイズ</div>
                  </mat-grid-tile>
                  <mat-grid-tile [colspan]="3">
                    <div>{{imasdb.prof?.bust}} / {{imasdb.prof?.waist}} / {{imasdb.prof?.hip}}</div>
                  </mat-grid-tile>
                  <mat-grid-tile>
                    <div>血液型</div>
                  </mat-grid-tile>
                  <mat-grid-tile [colspan]="3">
                    <div>{{imasdb.prof?.bloodType}}</div>
                  </mat-grid-tile>
                  <mat-grid-tile>
                    <div>趣味</div>
                  </mat-grid-tile>
                  <mat-grid-tile [colspan]="3">
                    <div>{{imasdb.prof?.hobby}}</div>
                  </mat-grid-tile>
                  <mat-grid-tile>
                    <div>誕生日</div>
                  </mat-grid-tile>
                  <mat-grid-tile [colspan]="3">
                    <div>{{imasdb.char?.birthMonth}}月 {{imasdb.char?.birthDay}}日</div>
                  </mat-grid-tile>
                </mat-grid-list>
              </mat-list>
            </div>
            <div>
              <mat-list dense class="models">
                <p matSubheader>CV (キャラクターボイス)</p>
                <mat-list-item class="list-content">
                  <mat-icon mat-list-icon>person_pin</mat-icon>
                  <h2 matLine>
                    <ng-template [ngIf]="imasdb.char?.cv == ''">
                      -
                    </ng-template>
                    <ng-template [ngIf]="imasdb.char?.cv != ''">
                      <a href="https://ja.wikipedia.org/wiki/{{imasdb.char?.cv}}">{{imasdb.char?.cv}}</a>
                    </ng-template>
                  </h2>
                </mat-list-item>
              </mat-list>
            </div>
            <div>
            </div>
            <div class="chips-section">
              <mat-list dense class="models">
                <p matSubheader>所属ユニット</p>
                <div *ngIf="isExistUnit(idol); then thenBlock; else elseBlock;"></div>
                <ng-template #elseBlock>
                  <mat-list-item class="list-content">
                    <mat-icon mat-list-icon>group</mat-icon>
                    <h2 matLine>なし</h2>
                  </mat-list-item>
                </ng-template>
                <ng-template #thenBlock>
                  <mat-list-item *ngFor="let unit of idol?.units" class="list-content">
                    <mat-icon mat-list-icon>group</mat-icon>
                    <h2 matLine [routerLink]="['/unit', unit.id]">
                      {{ unit.name }}
                    </h2>
                  </mat-list-item>
                </ng-template>
              </mat-list>
            </div>
            <div>
              <mat-list dense class="models">
                <p matSubheader>シリーズ</p>
                <mat-list-item class="list-content">
                  <mat-icon mat-list-icon>live_tv</mat-icon>
                  <h2 matLine>
                    {{imasdb.char?.originMedia}}
                  </h2>
                </mat-list-item>
              </mat-list>
            </div>

            <mat-divider style="margin-top:16px;"></mat-divider>
            <div>
              <mat-list dense class="models">
                <p matSubheader>カードモデル</p>
                <mat-list-item *ngFor="let alias of idol?.aliases" class="list-content">
                  <mat-icon mat-list-icon>local_offer</mat-icon>
                  <h2 matLine>
                    {{alias.alias_name === undefined ? "ノーマル" : alias.alias_name}} <span class="anchor-text main-color" (click)="goAnchor(alias.id)">#{{alias.id}}</span>
                  </h2>
                </mat-list-item>
              </mat-list>
            </div>
          </mat-card-content>
        </mat-card>

        <mat-card *ngFor="let alias of idol?.aliases" id="{{alias.id}}">
          <mat-card-header>
            <mat-card-title>
              <h4><span>{{alias.alias_name === undefined ? "ノーマル" : alias.alias_name}}</span></h4>
            </mat-card-title>
            <mat-card-subtitle>
              <span><a href="http://imas.cg.db.n-hokke.com/cards/{{alias.id}}">http://imas.cg.db.n-hokke.com/cards/{{alias.id}}</a></span>
            </mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="http://125.6.169.35/idolmaster/image_sp/card/l/{{alias.hash}}.jpg">
          <mat-card-content>
            <div>
              <!-- contents -->
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</section>