/* You can add global styles to this file, and also import other style files */ 
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.main-color {
    color: #e91e63;
}

.main-background {
    background: #e91e63;
}

.dark-color {
    color: #454d5d;
}

.lightgray-background {
    background: #f8f9fa;
}

.display-none {
    display: none;
}

.anchor-color {
    color: #0275d8;
}

.pointer {
    cursor: pointer;
}

.list-content {
    margin-left: 16px;
}

.link-button {
    text-decoration: none;
}

/* content width size */
section.width-min {
    margin: auto;
    max-width: 640px;
}

/* loading */
.loading {
    height: 1200px;
    color: #ffffff;
    text-align: center;

    background: linear-gradient(90deg, #b0003a, #e91e63, #ff6090);
    background-size: 600% 600%;
    animation: gradation 6s ease infinite;
}

@keyframes gradation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

/* ng-lazy load */
img.ng-lazyloaded {
    animation: fadein .5s;
}
@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
