/* You can add global styles to this file, and also import other style files */ 
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.main-color {
    color: #e91e63;
}

.main-background {
    background: #e91e63;
}

.display-none {
    display: none;
}

.anchor-color {
    color: #0275d8;
}

/* md-list style */
md-list-item {
    cursor: pointer;
}

.list-content {
    margin-left: 16px;
}

.link-button {
    text-decoration: none;
}

/* content width size */
section.width-min {
    margin: auto;
    max-width: 640px;
}
