<div>
  <h3>Add the new dere!</h3>
  <form>
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" required>
    </div>
    <div class="form-group">
      <label for="position">Position</label>
      <input type="text" class="form-control" id="position">
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <input type="text" class="form-control" id="description">
    </div>
    <button type="submit" class="btn btn-success">Registory idol</button>
  </form>
</div>