<div>
  <h3>Add the new dere!</h3>
  <form>
    <div class="form-group">
      <md-input-container>
        <input type="text" mdInput placeholder="Name" id="name" required [(ngModel)]="model.name" name="name">
      </md-input-container>
    </div>
    <div class="form-group">
      <md-select id="position" placeholder="Position" [(ngModel)]="model.position" name="Position">
        <md-option *ngFor="let position of positions" [value]="position">{{position}}</md-option>
      </md-select>
    </div>
    <p>
      {{diagnostic}}
    </p>
    <button type="submit" class="btn btn-success">Registory idol</button>
  </form>
</div>