<div>
  <h3>Add the new dere!</h3>
  <form (ngSubmit)="onSubmit()" #dereForm="ngForm">
    <div class="form-group">
      <md-input-container>
        <input type="text" mdInput placeholder="Name" id="name" required [(ngModel)]="idol.name" name="name">
      </md-input-container>
    </div>
    <div class="form-group">
      <md-select id="type" placeholder="Type" [(ngModel)]="idol.type" name="type">
        <md-option *ngFor="let type of types" [value]="type">{{type}}</md-option>
      </md-select>
    </div>
    <div class="form-group">
      <md-input-container>
        <input type="text" mdInput placeholder="Model" id="name" [(ngModel)]="idol.model" name="model">
      </md-input-container>
    </div>
    <p>
      {{diagnostic}}
    </p>
    <button type="button" md-button (click)="addIdol(); dereForm.reset();">Registory</button>
  </form>
</div>